<p>Hey {{firstName}} {{lastName}},</p>
<p>You have successfully reserved a ticket. Please use the below payment
  information to complete your transaction. The ticket will be sent to your
  email as soon as your transaction is completed.</p>

<p>Your reservation code is
  <strong>{{reservationCode}}</strong>
  and your seat is
  <strong>{{seatCode}}</strong>.</p>

<p>Bank Account Number: 03962783112</p>
<p>Account Holder: AirVenture</p>
<p>Bank Name: TPBank</p>
<p>Message: AirVenture-{{reservationCode}}</p>
<p>Amount: {{price}}VND</p>

<p>Thank you for choosing AirVenture</p>