<p>Hey {{firstName}} {{lastName}},</p>
<p>Here are your ticket information:</p>

<p><strong>First Name: </strong>{{firstName}}</p>
<p><strong>Last Name: </strong>{{lastName}}</p>
<p><strong>Gender: </strong>{{gender}}</p>
<p><strong>Phone Number: </strong>{{phoneNumber}}</p>

<h6>Flight Information</h6>
<p><strong>Reservation code: </strong>{{reservationCode}}</p>
<p><strong>Boarding Gate: </strong>{{boardingGate}}</p>
<p><strong>Seat: </strong>{{seatCode}}</p>
<p><strong>From: </strong>{{departureName}}</p>
<p><strong>To: </strong>{{arrivalName}}</p>
<p><strong>Time: </strong>{{departTime}} - {{arriveTime}}</p>
<p><strong>Price: </strong>{{price}}VND</p>

<p>Thank you for choosing AirVenture</p>